<h1 class="mb-5">Detalhes da tarefa: {{task?.title}}</h1>

<form *ngIf="task" [formGroup]="reactiveTaskForm" (ngSubmit)="updateTask()">
  <div class="row">

    <div class="form-group col-md-6">
      <label for="title" [ngClass]="errorControl('title')">Título:</label>
      <input type="text" formControlName="title" id="title" class="form-control" [ngClass]="errorControl('title')">
      <div class="invalid-feedback">
        <div *ngIf="reactiveTaskForm.get('title').hasError('required')">
          O título deve ser obrigatório.
        </div>
        <div *ngIf="reactiveTaskForm.get('title').hasError('minlength')">
          O título deve ter no mínimo 3 caracteres
        </div>
        <div *ngIf="reactiveTaskForm.get('title').hasError('maxlength')">
          O título deve ter no máximo 255 caracteres
        </div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" [ngClass]="errorControl('deadline')">Prazo de entrega:</label>
      <input type="date" formControlName="deadline" id="deadline" class="form-control"
        [ngClass]="errorControl('deadline')">
    </div>

    <div class="form-group col-md-3">
      <label for="done" [ngClass]="errorControl('done')">Situação:</label>
      <select class="form-control" id="done" formControlName="done" [ngClass]="errorControl('done')">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
    </div>

  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description">Descrição:</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="reactiveTaskForm.invalid" type="submit" class="btn btn-success">Atualizar</button>
  <button class="btn btn-secondary" type="button" (click)="goBack()">Voltar</button>

  <pre>{{reactiveTaskForm.value | json}}</pre>
  <pre>{{reactiveTaskForm.get('title').errors| json}}</pre>

</form>