<h1 class="mb-5">Detalhes da tarefa: {{task?.title}}</h1>

<form [formGroup]="reactiveTaskForm">
  <div class="row">

    <div class="form-group col-md-6">
      <label for="title">Título:</label>
      <input type="text" formControlName="title" id="title" class="form-control">
    </div>

    <div class="form-group col-md-3">
      <label for="deadline">Prazo de entrega:</label>
      <input type="date" formControlName="deadline" id="deadline" class="form-control">
    </div>

    <div class="form-group col-md-3">
      <label for="done">Situação:</label>
      <select class="form-control" id="done" formControlName="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
    </div>

  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description">Descrição:</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <pre>{{reactiveTaskForm.value | json}}</pre>

</form>