<h1 class="mb-5">Lista de Tarefas</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <input type="text" class="form-control" [(ngModel)]="newTask.title" placeholder="Digite aqui uma nova tarefa">
      </div>
      <div class="col-md-3">
        <button class="btn btn-sm btn-success" (click)="createTask()" > Adicionar Tarefa </button>
      </div>
    </div>
  </div>
</div>

<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>TITULO</th>
      <th>ACOES</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }} </td>
      <td>{{ task.title }}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info"> Detalhes</a>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>

</table>