<h1 class="mb-5">Faça o seu Login</h1>

<div class="jumbotron">
  <div *ngIf="formErrors" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>
      Ocorreu um erro ao tentar entrar no sistema.
      <ul>
        <li *ngFor="let error of formErrors">{{error}}</li>
      </ul>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form">

    <div class="form-group">
      <label for="email" [ngClass]="formUtils.errorControl('email')">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="formUtils.errorControl('email')">
      <div class="invalid-feedback">
        <div *ngIf="form.get('email').hasError('required')">
          O email deve ser obrigatório.
        </div>
        <div *ngIf="form.get('email').hasError('email')">
          O email não é valido.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" [ngClass]="formUtils.errorControl('password')">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="formUtils.errorControl('password')">
      <div class="invalid-feedback">
        <div *ngIf="form.get('password').hasError('required')">
          A senha deve ser obrigatória.
        </div>
      </div>
    </div>


    <button [disabled]="form.invalid || submitted" (click)="signInUser()" class="btn btn-primary">Fazer Login</button>
   
     <p class="mt-3">Se você não possui conta <a routerLink="/sign-up">clique aqui</a>.</p>

    <pre>{{form.get('email').errors | json}}</pre>

  </form>
</div>