<h1 class="mb-5">Faça o seu cadastro</h1>

<div class="jumbotron">
  
  <div *ngIf="formErrors" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>
      Ocorreu um erro ao tentar criar a sua conta no sistema.
      <ul>
        <li *ngFor="let error of formErrors">{{error}}</li>
      </ul>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="name" [ngClass]="formUtils.errorControl('name')">Nome</label>
      <input type="text" class="form-control" id="name" formControlName="name"
        [ngClass]="formUtils.errorControl('name')">
      <div class="invalid-feedback">
        <div *ngIf="form.get('name').hasError('required')">
          O nome deve ser obrigatório.
        </div>
        <div *ngIf="form.get('name').hasError('minlength')">
          O nome deve ter no mínimo 5 caracteres.
        </div>
        <div *ngIf="form.get('name').hasError('maxlength')">
          O nome deve ter no máximo 100 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email" [ngClass]="formUtils.errorControl('email')">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="formUtils.errorControl('email')">
      <div class="invalid-feedback">
        <div *ngIf="form.get('email').hasError('required')">
          O email deve ser obrigatório.
        </div>
        <div *ngIf="form.get('email').hasError('email')">
          O email não é valido.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" [ngClass]="formUtils.errorControl('password')">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="formUtils.errorControl('password')">
      <div class="invalid-feedback">
        <div *ngIf="form.get('password').hasError('required')">
          A senha deve ser obrigatória.
        </div>
        <div *ngIf="form.get('password').hasError('minlength')">
          A senha deve ter no mínimo 6 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirmation" [ngClass]="formUtils.errorControl('passwordConfirmation')">Confirmação de
        Senha</label>
      <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation"
        [ngClass]="formUtils.errorControl('passwordConfirmation')">
        <div class="invalid-feedback">
          <div *ngIf="form.get('passwordConfirmation').hasError('required')">
            A confirmação de senha deve ser obrigatória.
          </div>
          <div *ngIf="form.get('passwordConfirmation').hasError('mismatch')">
            Confirmação de senha está diferente da senha.
          </div>
        </div>
    </div>

    <button (click)="signUpUser()" [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Criar Conta</button>

    <p class="mt-3">Se você já possui uma conta <a routerLink="/sign-in">clique aqui para entrar</a>.</p>
    <pre>{{form.value | json}}</pre>
    <pre>{{form.get('name').errors| json}}</pre>

  </form>
</div>